{{!< default}}

<main id="main">
    <section class="p-outer">
        <div class="p-inner p-hero px-8">
            <div class="p-hero-left">
                <div class="">
                    <h1>Copernic - the first digital market for space art & assets</h1>
                    <p>We tokenize space assets and enable new revenue by providing access to the wider commercial and retail markets.</p>
                    <p>Democratizing access to space assets. Commercialize your space assets on SpaceMart and receive unique requests from prospective buyers.</p>
                </div>
                <div class="p-hero-buttons">
                    {{! Launches the Ghost membership portal }}
                    <button data-portal="signup">Subscribe</button>
                    {{! Link to an about page }}
                    <a href="https://copernicspace.com">Main site &rarr;</a>
                </div>
            </div>
            <div class="p-hero-right">
                {{! Loads the your cover image as defined in Ghost admin }}
                <img src="{{img_url @site.cover_image size="l"}}" alt="Copernic" />
            </div>
        </div>
    </section>

    <section class="p-outer">
        <div class="p-inner">
            <h2>Frequently Asked Questions</h2>
            <div class="faq-container">
                <div class="faq-item">
                    <h3>What is Copernic Space?</h3>
                    <p>Copernic Space is a decentralized finance (DeFi) platform and marketplace that connects space companies, investors, and consumers to facilitate the commercialization, financing, and transfer of ownership of space assets. Founded by Grant Blaisdell and Lady Rocket, Copernic Space builds on a three-generation legacy in space and leverages blockchain technology for transparency and security.</p>
                </div>
                <div class="faq-item">
                    <h3>What is the goal of Copernic Space?</h3>
                    <p>Copernic Space aims to democratize access to the space industry, allowing global participation and benefits from the growing space economy. It provides a secure and transparent platform for the transfer and management of space-related assets.</p>
                </div>
                <div class="faq-item">
                    <h3>How does Copernic Space benefit the space industry?</h3>
                    <p>By providing a secure and transparent marketplace, Copernic Space allows space-related entities to commercialize their assets efficiently. This platform opens new funding avenues, supports innovation, and fosters global participation in the space industry.</p>
                </div>
            </div>
        </div>
    </section>
</main>
